<!doctype html>
{% load staticfiles %}

    <!-- IMPORTING THE TEMPLATE BASE -->
    {% include 'header.html' %}


    <!--=============== BEGIN #page =================================== -->
    <div id="page" style="padding-top: 6px">

      <div class="container">
      
        <div class="row">
          <div class="col-xs-12 col-sm-4 letters letter-selected border-menu">
            <a class="color-white">Acerca del Proyecto</a>
          </div>
          <div class="col-xs-12 col-sm-4 letters border-menu">
            <a href="/como_funciona/" class="color-white">Cómo funciona</a>
          </div>
          <div class="col-xs-12 col-sm-4 letters border-menu border-correction">
          {% if request.session.user_type == '01' %}
            <a href="/configuracion_manual/01" class="color-white">Diccionario Multimedia</a>
          {% else %}
            <a href="/orden_alfabetico/A" class="color-white">Diccionario Multimedia</a>
          {% endif %}
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-6 bg-white padding-top-30">
            <video class="center" width="400" controls>
              <source src="{% static 'videos/Video01.mp4' %}" type="video/mp4">
            </video>
          </div>          
          <div class="col-xs-12 col-sm-6 bg-white padding-top-30">
            <p>El proyecto <b>"Plataforma Multimedia de libre acceso, para el Aprendizaje de la Lengua de Señas Chilena y del Español escrito"</b>, tiene como objetivo principal ofrecer una aplicación colaborativa que enseñe, facilite y refuerce el aprendizaje de la Lengua de Señas Chilena y del Español escrito, tanto para sordos como para oyentes, con contenido de libre acceso y de calidad, y que sea mantenido en forma permanente por parte de la comunidad de usuarios de la aplicación.</p>
            <p>Esta plataforma se enmarca dentro del proyecto de título de la alumna de Ingeniería Civil en Computación de la Facultad de Ciencias Físicas y Matemáticas de la Universidad de Chile, Natalia Andrea Alarcón Díaz.
            </p>

          </div>        
        </div>

      </div>  
    </div>
    <!--================== END #page ================================== -->

    {% include 'footer.html' %}

  </body>
</html>