<!doctype html>
{% load staticfiles %}

    <!-- IMPORTING THE TEMPLATE BASE -->
    {% include 'header.html' %}


    <!--=============== BEGIN #page =================================== -->
    <div id="page" style="padding-top: 6px">

      <div class="container">

        <div class="row">
          <div class="col-xs-12 letters letter-selected border-menu border-correction">
            Modificar contraseña
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-6 bg-white padding-top-30">
            <video class="center" width="400" controls>
              <source src="{% static 'videos/Video18.mp4' %}" type="video/mp4">
            </video>
          </div>
          <div class="col-xs-12 col-sm-6 bg-white padding-top-30">

            {% if status == "ok" %}
              <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> {{result}}
              </div>
            {% elif status == "error" %}
              <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{result}}
              </div>
            {% endif %}

            <form id="pass_form" role="form" action="/modificar_contrasena/" method="POST">
            {% csrf_token %}           
              <div class="form-group">
                <label>Contraseña actual:</label>
                  <input type="password" id="password" name="password" class="form-control form-control-lg">
              </div>
              <div class="form-group">
                <label>Nueva contraseña:</label>
                  <input type="password" id="new_password" name="new_password" class="form-control form-control-lg">
              </div>
              <div class="form-group">
                <label>Repetir nueva contraseña:</label>
                  <input type="password" id="new_password_repetition" name="new_password_repetition" class="form-control form-control-lg">
              </div>
              <p class="text-center">
                <button class="btn btn-slide-panel btn-lg btn-block" type="submit"><i class="ti ti-check"></i> Aceptar</button>
              </p>
            </form>
          </div>       
        </div>

      </div>

  </div>
    <!--================== END #page ================================== -->

    {% include 'footer.html' %}
   <script type="text/javascript">
    $("#pass_form").validate({
      rules: {
        password: {
          required: true
        },

        new_password: {
          required: true
        },

        new_password_repetition: {
          required: true,
          equalTo: "#new_password"
        }

      },

      messages: {
        password: {
          required: 'Ingrese su contraseña actual.'
        },

        new_password: {
          required: 'Ingrese una nueva contraseña.'
        },

        new_password_repetition: {
          required: 'Ingrese nuevamente su nueva contraseña.',
          equalTo: 'Por favor ingrese una contraseña igual a la anterior.'
        }              

      },

      errorPlacement: function(error, element){
        error.insertAfter(element.parent());
      }

    });
    </script>   
  </body>
</html>