<!doctype html>
{% load staticfiles %}

    <!-- IMPORTING THE TEMPLATE BASE -->
    {% include 'header.html' %}


    <!--=============== BEGIN #page =================================== -->
    <div id="page" style="padding-top: 6px">

      <div class="container">
      
        <div class="row">
          <div class="col-xs-12 col-sm-6 letters letter-selected border-menu">
            <a class="color-white">Subir video</a>
          </div>
          <div class="col-xs-12 col-sm-6 letters border-menu">
            <a href="/desafio/" class="color-white">Completar desafío</a>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-6 bg-white padding-top-30">
            <video id="video1" class="center" width="400" controls>
              <source src="{% static 'videos/muchas_gracias.mp4' %}" type="video/mp4">
            </video>        
          </div>
          <div class="col-xs-12 col-sm-6 bg-white padding-top-30">

            <form role="form" action="/subir_video_palabra_nueva/" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

              {% if status == "ok" %}
                <div class="alert alert-success alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> {{result}}
                </div>
              {% elif status == "error" %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{result}}
                </div>
              {% endif %}              

              <div class="form-group">
                <label>Palabra:</label>
                <input type="text" id="word" name="word" class="form-control form-control-lg">
              </div>
              <div class="form-group">
                <label>Configuración manual:</label>
                <div class="clearfix"></div>

                <div class="radio col-xs-7">
                  <label><input type="radio" name="mc_radio" id="01" value="01"><i class="icon icon-b1 medium"></i></label>
                </div>
                <div class="radio col-xs-7 margin-top-10">
                  <label><input type="radio" name="mc_radio" id="02" value="02"><i class="icon icon-b2 medium"></i></label>
                </div>
                <div class="radio col-xs-7 margin-top-10">
                  <label><input type="radio" name="mc_radio" id="03" value="03"><i class="icon icon-b3 medium"></i></label>
                </div>
                <div class="radio col-xs-7 margin-top-10">
                  <label><input type="radio" name="mc_radio" id="04" value="04"><i class="icon icon-b4 medium"></i></label>
                </div>
                <div class="radio col-xs-7 margin-top-10">
                  <label><input type="radio" name="mc_radio" id="05" value="05"><i class="icon icon-b5 medium"></i></label>
                </div>
                <div class="radio col-xs-7 margin-top-10">
                  <label><input type="radio" name="mc_radio" id="06" value="06"><i class="icon icon-a1 medium"></i></label>
                </div>
                <div class="radio col-xs-7 margin-top-10">
                  <label><input type="radio" name="mc_radio" id="07" value="07"><i class="icon icon-a2 medium"></i></label>
                </div>                  
                <div class="radio col-xs-7 margin-top-10">
                  <label><input type="radio" name="mc_radio" id="08" value="08"><i class="icon icon-a3 medium"></i></label>
                </div>
                <div class="radio col-xs-7 margin-top-10">
                  <label><input type="radio" name="mc_radio" id="09" value="09"><i class="icon icon-a4 medium"></i></label>
                </div>
                <div class="radio col-xs-7 margin-top-10">
                  <label><input type="radio" name="mc_radio" id="10" value="10"><i class="icon icon-a5 medium"></i></label>
                </div>
                <div class="radio col-xs-7 margin-top-10">
                  <label><input type="radio" name="mc_radio" id="11" value="11"><i class="icon icon-g1 medium"></i></label>
                </div>
                <div class="radio col-xs-7 margin-top-10">
                  <label><input type="radio" name="mc_radio" id="12" value="12"><i class="icon icon-g2 medium"></i></label>
                </div>
                <div class="radio col-xs-7 margin-top-10">
                  <label><input type="radio" name="mc_radio" id="13" value="13"><i class="icon icon-g3 medium"></i></label>
                </div>
                <div class="radio col-xs-7 margin-top-10">
                  <label><input type="radio" name="mc_radio" id="14" value="14"><i class="icon icon-g4 medium"></i></label>
                </div>    
                <div class="radio col-xs-7 margin-top-10">
                  <label><input type="radio" name="mc_radio" id="15" value="15"><i class="icon icon-g5 medium"></i></label>
                </div>
                <div class="radio col-xs-7 margin-top-10">
                  <label><input type="radio" name="mc_radio" id="16" value="16"><i class="icon icon-c1 medium"></i></label>
                </div>
                <div class="radio col-xs-7 margin-top-10">
                  <label><input type="radio" name="mc_radio" id="17" value="17"><i class="icon icon-c2 medium"></i></label>
                </div>
                <div class="radio col-xs-7 margin-top-10">
                  <label><input type="radio" name="mc_radio" id="18" value="18"><i class="icon icon-51 medium"></i></label>
                </div>
                <div class="radio col-xs-7 margin-top-10">
                  <label><input type="radio" name="mc_radio" id="19" value="19"><i class="icon icon-52 medium"></i></label>
                </div>
                <div class="radio col-xs-7 margin-top-10">
                  <label><input type="radio" name="mc_radio" id="20" value="20"><i class="icon icon-53 medium"></i></label>
                </div>
                <div class="radio col-xs-7 margin-top-10">
                  <label><input type="radio" name="mc_radio" id="21" value="21"><i class="icon icon-54 medium"></i></label>
                </div>    
                <div class="radio col-xs-7 margin-top-10">
                  <label><input type="radio" name="mc_radio" id="22" value="22"><i class="icon icon-v1 medium"></i></label>
                </div>
                <div class="radio col-xs-7 margin-top-10">
                  <label><input type="radio" name="mc_radio" id="23" value="23"><i class="icon icon-v2 medium"></i></label>
                </div>
                <div class="radio col-xs-7 margin-top-10">
                  <label><input type="radio" name="mc_radio" id="24" value="24"><i class="icon icon-o1 medium"></i></label>
                </div>
                <div class="radio col-xs-7 margin-top-10">
                  <label><input type="radio" name="mc_radio" id="25" value="25"><i class="icon icon-o2 medium"></i></label>
                </div>
                <div class="radio col-xs-7 margin-top-10">
                  <label><input type="radio" name="mc_radio" id="26" value="26"><i class="icon icon-o3 medium"></i></label>
                </div>
                <div class="radio col-xs-7 margin-top-10">
                  <label><input type="radio" name="mc_radio" id="27" value="27"><i class="icon icon-o4 medium"></i></label>
                </div>
                <div class="radio col-xs-7 margin-top-10">
                  <label><input type="radio" name="mc_radio" id="28" value="28"><i class="icon icon-o5 medium"></i></label>
                </div>    
                <div class="radio col-xs-7 margin-top-10">
                  <label><input type="radio" name="mc_radio" id="29" value="29"><i class="icon icon-f1 medium"></i></label>
                </div>
                <div class="radio col-xs-7 margin-top-10">
                  <label><input type="radio" name="mc_radio" id="30" value="30"><i class="icon icon-f2 medium"></i></label>
                </div>
                <div class="radio col-xs-7 margin-top-10">
                  <label><input type="radio" name="mc_radio" id="31" value="31"><i class="icon icon-x1 medium"></i></label>
                </div>
                <div class="radio col-xs-7 margin-top-10">
                  <label><input type="radio" name="mc_radio" id="32" value="32"><i class="icon icon-h1 medium"></i></label>
                </div>
                <div class="radio col-xs-7 margin-top-10">
                  <label><input type="radio" name="mc_radio" id="33" value="33"><i class="icon icon-h2 medium"></i></label>
                </div>
                <div class="radio col-xs-7 margin-top-10">
                  <label><input type="radio" name="mc_radio" id="34" value="34"><i class="icon icon-l1 medium"></i></label>
                </div>
                <div class="radio col-xs-7 margin-top-10">
                  <label><input type="radio" name="mc_radio" id="35" value="35"><i class="icon icon-y1 medium"></i></label>
                </div>    
                <div class="radio col-xs-7 margin-top-10">
                  <label><input type="radio" name="mc_radio" id="36" value="36"><i class="icon icon-y2 medium"></i></label>
                </div>
                <div class="radio col-xs-7 margin-top-10">
                  <label><input type="radio" name="mc_radio" id="37" value="37"><i class="icon icon-y3 medium"></i></label>
                </div>
                <div class="radio col-xs-7 margin-top-10">
                  <label><input type="radio" name="mc_radio" id="38" value="38"><i class="icon icon-y4 medium"></i></label>
                </div>
                <div class="radio col-xs-7 margin-top-10">
                  <label><input type="radio" name="mc_radio" id="39" value="39"><i class="icon icon-y5 medium"></i></label>
                </div>
                <div class="radio col-xs-7 margin-top-10">
                  <label><input type="radio" name="mc_radio" id="40" value="40"><i class="icon icon-aa1 medium"></i></label>
                </div>
                <div class="radio col-xs-7 margin-top-10">
                  <label><input type="radio" name="mc_radio" id="41" value="41"><i class="icon icon-aa2 medium"></i></label>
                </div>
                <div class="radio col-xs-7 margin-top-10">
                  <label><input type="radio" name="mc_radio" id="42" value="42"><i class="icon icon-k1 medium"></i></label>
                </div>    
                <div class="radio col-xs-7 margin-top-10">
                  <label><input type="radio" name="mc_radio" id="43" value="43"><i class="icon icon-i1 medium"></i></label>
                </div>
                <div class="radio col-xs-7 margin-top-10">
                  <label><input type="radio" name="mc_radio" id="44" value="44"><i class="icon icon-r1 medium"></i></label>
                </div>
                <div class="radio col-xs-7 margin-top-10">
                  <label><input type="radio" name="mc_radio" id="45" value="45"><i class="icon icon-r2 medium"></i></label>
                </div>
                <div class="radio col-xs-7 margin-top-10">
                  <label><input type="radio" name="mc_radio" id="46" value="46"><i class="icon icon-w1 medium"></i></label>
                </div>
                <div class="radio col-xs-7 margin-top-10">
                  <label><input type="radio" name="mc_radio" id="47" value="47"><i class="icon icon-31 medium"></i></label>
                </div>
                <div class="radio col-xs-7 margin-top-10">
                  <label><input type="radio" name="mc_radio" id="48" value="49"><i class="icon icon-32 medium"></i></label>
                </div>
                <div class="radio col-xs-7 margin-top-10">
                  <label><input type="radio" name="mc_radio" id="49" value="49"><i class="icon icon-e1 medium"></i></label>
                </div>                                                                                
                <div class="clearfix"></div>
              </div>

              <div class="form-group">
                <input type="file" name="video" id="video">
                <p class="help-block">El tamaño del video no puede superar 3 Mb.</p>
              </div>        
              <p class="text-center">
                <button class="btn btn-slide-panel btn-lg btn-block" type="submit"><i class="ti ti-upload"></i> Subir Video</button>
              </p>
            </form>

          </div>    
        </div>

      </div>  
    </div>
    <!--================== END #page ================================== -->

    {% include 'footer.html' %}

  </body>
</html>