<!doctype html>
{% load staticfiles %}

    <!-- IMPORTING THE TEMPLATE BASE -->
    {% include 'header.html' %}


    <!--=============== BEGIN #page =================================== -->
    <div id="page" style="padding-top: 6px">

      <div class="container">

        <div class="row">
          <div class="col-xs-12 col-sm-6 letters letter-selected border-menu">
            <a class="color-white">Subir video</a>
          </div>
          <div class="col-xs-12 col-sm-6 letters border-menu">
            <a href="/desafio/" class="color-white">Completar desafío</a>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-6 bg-white padding-top-30">
            <video class="center" width="400" controls>
              <source src="{% static 'videos/Video22.mp4' %}" type="video/mp4">
            </video>
          </div>
          <div class="col-xs-12 col-sm-6 bg-white padding-top-30">
            <p>Para subir un video, selecciona una opción y completa el formulario según corresponda:</p>

            <a href="/subir_video_palabra_nueva/" class="btn btn-slide-panel btn-lg btn-block">Palabra nueva</a>
            <a href="/subir_video_palabra_existente/" class="btn btn-slide-panel btn-lg btn-block" style="margin-bottom: 30px">Palabra existente</a>
          </div>  
        </div>

      </div>  
    </div>
    <!--================== END #page ================================== -->

    {% include 'footer.html' %}

  </body>
</html>