<!doctype html>
{% load staticfiles %}

    <!-- IMPORTING THE TEMPLATE BASE -->
    {% include 'header.html' %}


    <!--=============== BEGIN #page =================================== -->
    <div id="page" style="padding-top: 6px">

      <div class="container">

        <div class="row">
          <div class="col-xs-12 letters border-menu">
            <a href="/listado_archivos/" class="color-white">Listado archivos</a>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 bg-white padding-top-30">

            <div class="row row-files-validation">
                <div class="col-xs-12">
                  <div class="col-xs-12">
                    <b>Palabra:</b> {{word_data.name}}
                  </div>
                </div>
                <div id="non_editable">
                  <div class="col-xs-12">
                    <b>Definición:</b> {{word_data.definition}}
                  </div>
                  <div class="col-xs-12">
                    <b>Configuración manual: </b><a style="font-size: 25px"><span class="icon icon-{{icon_code}}"></span></a>
                  </div>
                </div>

              <div id="editable" style="display:none">
                <form method="POST" role="form" id="register_form" action="/modificar_palabra/" novalidate>
                {% csrf_token %}
                  <div class="col-xs-12">
                    <input name="name" id="name" type="hidden" value="{{word_data.name}}">
                  </div>
                  <div class="col-xs-12">
                    <div class="col-xs-12">
                      <b>Definición: </b><input name="definition" id="definition" type="text" class="form-control" value="{{word_data.definition}}">
                    </div>
                  </div>
                  <div class="col-xs-12">
                    <div class="col-xs-12">
                      <b>Configuración manual:</b>
                    </div>
                    
                    <div class="col-xs-12">
 
                      <div class="radio col-xs-7">
                        <label><input type="radio" name="mc_radio" id="01" value="01" checked="checked"><i class="icon icon-b1 medium"></i></label>
                      </div>
                      <div class="radio col-xs-7 margin-top-10">
                        <label><input type="radio" name="mc_radio" id="02" value="02"><i class="icon icon-b2 medium"></i></label>
                      </div>
                      <div class="radio col-xs-7 margin-top-10">
                        <label><input type="radio" name="mc_radio" id="03" value="03"><i class="icon icon-b3 medium"></i></label>
                      </div>
                      <div class="radio col-xs-7 margin-top-10">
                        <label><input type="radio" name="mc_radio" id="04" value="04"><i class="icon icon-b4 medium"></i></label>
                      </div>
                      <div class="radio col-xs-7 margin-top-10">
                        <label><input type="radio" name="mc_radio" id="05" value="05"><i class="icon icon-b5 medium"></i></label>
                      </div>
                      <div class="radio col-xs-7 margin-top-10">
                        <label><input type="radio" name="mc_radio" id="06" value="06"><i class="icon icon-a1 medium"></i></label>
                      </div>
                      <div class="radio col-xs-7 margin-top-10">
                        <label><input type="radio" name="mc_radio" id="07" value="07"><i class="icon icon-a2 medium"></i></label>
                      </div>                  
                      <div class="radio col-xs-7 margin-top-10">
                        <label><input type="radio" name="mc_radio" id="08" value="08"><i class="icon icon-a3 medium"></i></label>
                      </div>
                      <div class="radio col-xs-7 margin-top-10">
                        <label><input type="radio" name="mc_radio" id="09" value="09"><i class="icon icon-a4 medium"></i></label>
                      </div>
                      <div class="radio col-xs-7 margin-top-10">
                        <label><input type="radio" name="mc_radio" id="10" value="10"><i class="icon icon-a5 medium"></i></label>
                      </div>
                      <div class="radio col-xs-7 margin-top-10">
                        <label><input type="radio" name="mc_radio" id="11" value="11"><i class="icon icon-g1 medium"></i></label>
                      </div>
                      <div class="radio col-xs-7 margin-top-10">
                        <label><input type="radio" name="mc_radio" id="12" value="12"><i class="icon icon-g2 medium"></i></label>
                      </div>
                      <div class="radio col-xs-7 margin-top-10">
                        <label><input type="radio" name="mc_radio" id="13" value="13"><i class="icon icon-g3 medium"></i></label>
                      </div>
                      <div class="radio col-xs-7 margin-top-10">
                        <label><input type="radio" name="mc_radio" id="14" value="14"><i class="icon icon-g4 medium"></i></label>
                      </div>    
                      <div class="radio col-xs-7 margin-top-10">
                        <label><input type="radio" name="mc_radio" id="15" value="15"><i class="icon icon-g5 medium"></i></label>
                      </div>
                      <div class="radio col-xs-7 margin-top-10">
                        <label><input type="radio" name="mc_radio" id="16" value="16"><i class="icon icon-c1 medium"></i></label>
                      </div>
                      <div class="radio col-xs-7 margin-top-10">
                        <label><input type="radio" name="mc_radio" id="17" value="17"><i class="icon icon-c2 medium"></i></label>
                      </div>
                      <div class="radio col-xs-7 margin-top-10">
                        <label><input type="radio" name="mc_radio" id="18" value="18"><i class="icon icon-51 medium"></i></label>
                      </div>
                      <div class="radio col-xs-7 margin-top-10">
                        <label><input type="radio" name="mc_radio" id="19" value="19"><i class="icon icon-52 medium"></i></label>
                      </div>
                      <div class="radio col-xs-7 margin-top-10">
                        <label><input type="radio" name="mc_radio" id="20" value="20"><i class="icon icon-53 medium"></i></label>
                      </div>
                      <div class="radio col-xs-7 margin-top-10">
                        <label><input type="radio" name="mc_radio" id="21" value="21"><i class="icon icon-54 medium"></i></label>
                      </div>    
                      <div class="radio col-xs-7 margin-top-10">
                        <label><input type="radio" name="mc_radio" id="22" value="22"><i class="icon icon-v1 medium"></i></label>
                      </div>
                      <div class="radio col-xs-7 margin-top-10">
                        <label><input type="radio" name="mc_radio" id="23" value="23"><i class="icon icon-v2 medium"></i></label>
                      </div>
                      <div class="radio col-xs-7 margin-top-10">
                        <label><input type="radio" name="mc_radio" id="24" value="24"><i class="icon icon-o1 medium"></i></label>
                      </div>
                      <div class="radio col-xs-7 margin-top-10">
                        <label><input type="radio" name="mc_radio" id="25" value="25"><i class="icon icon-o2 medium"></i></label>
                      </div>
                      <div class="radio col-xs-7 margin-top-10">
                        <label><input type="radio" name="mc_radio" id="26" value="26"><i class="icon icon-o3 medium"></i></label>
                      </div>
                      <div class="radio col-xs-7 margin-top-10">
                        <label><input type="radio" name="mc_radio" id="27" value="27"><i class="icon icon-o4 medium"></i></label>
                      </div>
                      <div class="radio col-xs-7 margin-top-10">
                        <label><input type="radio" name="mc_radio" id="28" value="28"><i class="icon icon-o5 medium"></i></label>
                      </div>    
                      <div class="radio col-xs-7 margin-top-10">
                        <label><input type="radio" name="mc_radio" id="29" value="29"><i class="icon icon-f1 medium"></i></label>
                      </div>
                      <div class="radio col-xs-7 margin-top-10">
                        <label><input type="radio" name="mc_radio" id="30" value="30"><i class="icon icon-f2 medium"></i></label>
                      </div>
                      <div class="radio col-xs-7 margin-top-10">
                        <label><input type="radio" name="mc_radio" id="31" value="31"><i class="icon icon-x1 medium"></i></label>
                      </div>
                      <div class="radio col-xs-7 margin-top-10">
                        <label><input type="radio" name="mc_radio" id="32" value="32"><i class="icon icon-h1 medium"></i></label>
                      </div>
                      <div class="radio col-xs-7 margin-top-10">
                        <label><input type="radio" name="mc_radio" id="33" value="33"><i class="icon icon-h2 medium"></i></label>
                      </div>
                      <div class="radio col-xs-7 margin-top-10">
                        <label><input type="radio" name="mc_radio" id="34" value="34"><i class="icon icon-l1 medium"></i></label>
                      </div>
                      <div class="radio col-xs-7 margin-top-10">
                        <label><input type="radio" name="mc_radio" id="35" value="35"><i class="icon icon-y1 medium"></i></label>
                      </div>    
                      <div class="radio col-xs-7 margin-top-10">
                        <label><input type="radio" name="mc_radio" id="36" value="36"><i class="icon icon-y2 medium"></i></label>
                      </div>
                      <div class="radio col-xs-7 margin-top-10">
                        <label><input type="radio" name="mc_radio" id="37" value="37"><i class="icon icon-y3 medium"></i></label>
                      </div>
                      <div class="radio col-xs-7 margin-top-10">
                        <label><input type="radio" name="mc_radio" id="38" value="38"><i class="icon icon-y4 medium"></i></label>
                      </div>
                      <div class="radio col-xs-7 margin-top-10">
                        <label><input type="radio" name="mc_radio" id="39" value="39"><i class="icon icon-y5 medium"></i></label>
                      </div>
                      <div class="radio col-xs-7 margin-top-10">
                        <label><input type="radio" name="mc_radio" id="40" value="40"><i class="icon icon-aa1 medium"></i></label>
                      </div>
                      <div class="radio col-xs-7 margin-top-10">
                        <label><input type="radio" name="mc_radio" id="41" value="41"><i class="icon icon-aa2 medium"></i></label>
                      </div>
                      <div class="radio col-xs-7 margin-top-10">
                        <label><input type="radio" name="mc_radio" id="42" value="42"><i class="icon icon-k1 medium"></i></label>
                      </div>    
                      <div class="radio col-xs-7 margin-top-10">
                        <label><input type="radio" name="mc_radio" id="43" value="43"><i class="icon icon-i1 medium"></i></label>
                      </div>
                      <div class="radio col-xs-7 margin-top-10">
                        <label><input type="radio" name="mc_radio" id="44" value="44"><i class="icon icon-r1 medium"></i></label>
                      </div>
                      <div class="radio col-xs-7 margin-top-10">
                        <label><input type="radio" name="mc_radio" id="45" value="45"><i class="icon icon-r2 medium"></i></label>
                      </div>
                      <div class="radio col-xs-7 margin-top-10">
                        <label><input type="radio" name="mc_radio" id="46" value="46"><i class="icon icon-w1 medium"></i></label>
                      </div>
                      <div class="radio col-xs-7 margin-top-10">
                        <label><input type="radio" name="mc_radio" id="47" value="47"><i class="icon icon-31 medium"></i></label>
                      </div>
                      <div class="radio col-xs-7 margin-top-10">
                        <label><input type="radio" name="mc_radio" id="48" value="49"><i class="icon icon-32 medium"></i></label>
                      </div>
                      <div class="radio col-xs-7 margin-top-10">
                        <label><input type="radio" name="mc_radio" id="49" value="49"><i class="icon icon-e1 medium"></i></label>
                      </div>                                                                                
                      <div class="clearfix"></div>
                    </div>

                  </div>
                  <div class="col-xs-12">
                    <input class="btn btn-warning margin-btn" type="submit" value="Guardar"></input>
                  </div>                 
                </form>
              </div>

              <div class="col-xs-12">
                {% for video in word_data.files %}
                  <video class="center margin-top-10" width="300" controls>
                    <source src="{{video}}" type="video/mp4">
                  </video>
                {% endfor %}
              </div>
            
              <div class="col-xs-12 col-sm-6">
                Votos positivos: {{word_data.positive}}
              </div>
              <div class="col-xs-12 col-sm-6">
                Votos negativos: {{word_data.negative}}
              </div>
              <div class="col-xs-12 col-sm-6">
                Porcentaje votos positivos: {{word_data.positive_percentage}}%
              </div>
              <div class="col-xs-12 col-sm-6">
                Porcentaje votos negativos: {{word_data.negative_percentage}}%
              </div>
              <div class="col-xs-4">
                <a href="/validar_palabra/?palabra={{word_data.name}}&respuesta=Aceptar" class="btn btn-success margin-btn"><span class="glyphicon glyphicon-ok"></span> Aceptar</a>
              </div>
              <div class="col-xs-4">
                <button id="edit" class="btn btn-warning margin-btn"><span class="glyphicon glyphicon-pencil"></span> Editar</button>
              </div>      
              <div class="col-xs-4">
                <a href="/validar_palabra/?palabra={{word_data.name}}&respuesta=Rechazar" class="btn btn-danger margin-btn"><span class="glyphicon glyphicon-remove"></span> Rechazar</a>
              </div>
            </div>

          </div>                 
        </div>

      </div>  
    </div>
    <!--================== END #page ================================== -->

    {% include 'footer.html' %}

    <script type="text/javascript">
      $("#edit").on("click",function(e){
        $("#edit").hide();
        $("#non_editable").hide();
        $("#editable").show();
      });

    </script>

  </body>
</html>