<!doctype html>
{% load staticfiles %}

    <!-- IMPORTING THE TEMPLATE BASE -->
    {% include 'header.html' %}


    <!--=============== BEGIN #page =================================== -->
    <div id="page" style="padding-top: 6px">

      <div class="container">

        <div class="row">
          <div class="col-xs-12 letters border-menu">
            <a href="/listado_archivos/" class="color-white">Listado archivos</a>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 bg-white padding-top-30">

            <div class="row row-files-validation">
              <div class="col-xs-12">
                <b>Palabra:</b> {{word_data.name}}
              </div>

              <div id="non_editable">
                <div class="col-xs-12">
                  <b>Definición:</b> {{word_data.definition}}
                </div>
                <div class="col-xs-12">
                  <b>Configuración manual: </b><a style="font-size: 25px"><span class="icon icon-{{icon_code}}"></span></a>
                </div>
                <div class="col-xs-12">
                  {% for video in word_data.files %}
                    <video class="center margin-top-10" width="300" controls>
                      <source src="{{video}}" type="video/mp4">
                    </video>
                  {% endfor %}
                </div>
              </div>  

              <div id="editable" style="display:none">
                <form method="POST" role="form" id="register_form" action="/modificar_palabra/" novalidate>
                {% csrf_token %}
                  <div class="col-xs-12">
                    <input name="name" id="name" type="hidden" value="{{word_data.name}}">
                  </div>
                  <div class="col-xs-12">
                    <div class="col-xs-12">
                      <b>Definición: </b><input name="definition" id="definition" type="text" class="form-control" value="{{word_data.definition}}">
                    </div>
                  </div>
                  <div class="col-xs-12">
                    <div class="col-xs-12">
                      <b>Configuración manual:</b>
                    </div>
                    
                    <div class="col-xs-12">

                      {% for number,icon in manual_config_pair_array %}
                      <div class="radio col-xs-7
                        {% if not forloop.first %}
                          margin-top-10
                        {% endif %}
                      ">
                        <label><input type="radio" name="mc_radio" id="{{number}}" value="{{number}}"
                        {% if icon == icon_code %}
                          checked="checked" 
                        {% endif %}
                        ><i class="icon icon-{{icon}} medium"></i></label>
                      </div>
                      {% endfor %}
                      <div class="clearfix"></div>
                    </div>

                    <div class="col-xs-12">
                      {% for video in word_data.files %}
                        {% if forloop.last and word_data.files|length > 1%}
                          <video class="center margin-top-10" style="margin-bottom: 0px" width="300" controls>
                            <source src="{{video}}" type="video/mp4">
                          </video>                         

                          <input type="checkbox" name="delete" value="delete"> Eliminar
                      
                        {% else %}
                          <video class="center margin-top-10" width="300" controls>
                            <source src="{{video}}" type="video/mp4">
                          </video>
                        {% endif %}
                      {% endfor %}
                    </div>
                  </div>

                  <div class="col-xs-12">
                    <button type="submit" class="btn btn-success margin-btn"><i class="glyphicon glyphicon-ok"></i> Aceptar</button>
                    <a class="btn btn-danger margin-btn" href="/validar_archivo/?palabra={{word_data.name}}"><span class="glyphicon glyphicon-remove"></span> Cancelar</a>
                  </div>                 
                </form>
              </div>
            
              <div class="col-xs-12 col-sm-6">
                Votos positivos: {{word_data.positive}}
              </div>
              <div class="col-xs-12 col-sm-6">
                Votos negativos: {{word_data.negative}}
              </div>
              <div class="col-xs-12 col-sm-6">
                Porcentaje votos positivos: {{word_data.positive_percentage}}%
              </div>
              <div class="col-xs-12 col-sm-6">
                Porcentaje votos negativos: {{word_data.negative_percentage}}%
              </div>
              <div class="col-xs-4">
                <a id="accept" href="/validar_palabra/?palabra={{word_data.name}}&respuesta=Aceptar" class="btn btn-success margin-btn"><span class="glyphicon glyphicon-ok"></span> Aceptar palabra</a>
              </div>
              <div class="col-xs-4">
                <button id="edit" class="btn btn-warning margin-btn"><span class="glyphicon glyphicon-pencil"></span> Editar</button>
              </div>      
              <div class="col-xs-4">
                <a id="reject" href="/validar_palabra/?palabra={{word_data.name}}&respuesta=Rechazar" class="btn btn-danger margin-btn"><span class="glyphicon glyphicon-remove"></span> Rechazar palabra</a>
              </div>
            </div>

          </div>                 
        </div>

      </div>  
    </div>
    <!--================== END #page ================================== -->

    {% include 'footer.html' %}

    <script type="text/javascript">
      $("#edit").on("click",function(e){
        $("#edit").hide();
        $("#non_editable").hide();
        $("#accept").hide();
        $("#reject").hide();        
        $("#editable").show();
      });

    </script>

  </body>
</html>